

.container {
    display: flex;
    align-items: center;
  }
  
  img {
    margin-right: 40px; /* Espacio entre la imagen y el texto */
    width: 350%;
    margin-top: 155px;
  }

  p {
    /* Estilo para el texto al lado de la imagen */
    color:white;
    text-align: center;
    font-size: 20px;
    background-color: #255296;
    padding: 10px;
    border-radius: 10px; 

  }