body {
    background-image: url('http://localhost:8000/img/foto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

img {
    margin-top: 25px;
    margin-left: -50px;
    width: 110%;
}